{% extends 'layout/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load widget_tweaks %}
  <h2>Sign up</h2>
  <hr/>
  <form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                {{ form.username|attr:"class:form-control"|attr:"placeholder: Username" }}
            </div>
            <div class="form-group">
                {{ form.password1|attr:"class:form-control"|attr:"placeholder: Password"}}
            </div>
            <div class="form-group">
                {{ form.password2|attr:"class:form-control"|attr:"placeholder: Password again"}}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Register</button> <a href="/login" class="btn btn-info">Login</a>
            </div>
        </div>
    </div>
  </form>
{% endblock %}