{% extends 'layout/base.html' %}

{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
            <h1>Hello, {{user}}</h1>
        {% else %}
            <h1>Only registered users can use the app!</h1>
        {% endif %}
    </div>
{% endblock %}