{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Moments {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'css/docs.css' %}" rel="stylesheet">
  <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
  <link href="{% static 'js/google-code-prettify/prettify.css' %}" rel="stylesheet">
  <link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
  <link href="{% static 'css/sequence.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'color/default.css' %}" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">

  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  {% include 'layout/nav.html' %}
  <section id="intro">
    <div class="jumbotron masthead">
      <div class="container">
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container" style="float: right;">
      {% if messages %}
          {% for msg in messages %}
            {% if msg.tags == 'success' %}
              <div class="alert alert-success" role="alert">
                {{msg}}
              </div>
            {% elif msg.tags == 'error' %}
              <div class="alert alert-danger" role="alert">
                {{msg}}
              </div>
            {% endif %}
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </section>

  <!-- JavaScript Library Files -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.js' %}"></script>
  <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jquery.elastislide.js' %}"></script>
  <script src="{% static 'js/sequence/sequence.jquery-min.js' %}"></script>
  <script src="{% static 'js/sequence/setting.js' %}"></script>
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'js/application.js' %}"></script>
  <script src="{% static 'js/jquery.flexslider.js' %}"></script>
  <script src="{% static 'js/hover/jquery-hover-effect.js' %}"></script>
  <script src="{% static 'js/hover/setting.js' %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
