{% load static %}
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li>
                  <a href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
                 <li>
                   <a href="{% url 'all' %}">All</a>
                 </li>
                 <li>
                   <a href="{% url 'mine' %}">My albums</a>
                 </li>
                 <li>
                   <a href="{% url 'register' %}">New</a>
                 </li>
                 <li>
                   <a href="{% url 'register' %}">Hello, {{ user }}</a>
                 </li>
                {% else %}
                 <li>
                   <a href="{% url 'login' %}">Login</a>
                 </li>
                 <li>
                   <a href="{% url 'register' %}">Register</a>
                 </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
