{% extends 'layout/base.html' %}

{% block content %}
{% load widget_tweaks %}
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{form.name|attr:"class:form-control"|attr:"placeholder: Gallery's name"}}
            </div>
            <div class="form-group">
                {{form.description}}
            </div>
            <div class="form-group">
                {{form.front_image|attr:"class:form-control"}}
            </div>
            <div class="form-group">
                {{form.private|attr:"class:form-control"}} Private
            </div>
            <hr/>
            <div class="form-group">
                <button class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
{% endblock %}