{% extends 'layout/base.html' %}

{% block content %}
    <div class="row">
        <form method="post">
            <div class="formg-group">
                {{form.as_p}}
            </div>
        </form>
    </div>
{% endblock %}