{% extends 'layout/base.html' %}

{% block title %} | Upload an image{% endblock %}

{% block content %}
    <h2>Upload</h2>
    <hr/>
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{form.image}}
            </div>
            <hr/>
            <div class="form-group">
                {{form.description}}
            </div>
            <div class="form-group">
                <button class="btn btn-success">Insert</button>
            </div>
        </form>
    </div>
{% endblock %}