{% extends 'layout/base.html' %}

{% block content %}
    <h1>
        {{gallery.first.gallery.name}}
    </h1>
    <hr/>
    <i>{{gallery.first.gallery.description}}</i><br/>
      {% if gallery.first.gallery.user == user %}
      <hr/>
        <a href="{% url 'edit_album' user.id gallery.first.gallery.id %}" class="btn btn-primary btn-sm" title="Insert an image">Edit</a>
        <a href="{% url 'insert' gallery.first.gallery.id %}" class="btn btn-success btn-sm" title="Insert an image">+</a>
        <a href="{% url 'remove_album' user.id gallery.first.gallery.id %}" class="btn btn-danger btn-sm" title="Delete the album">X</a>
      {% endif %}
    <hr/>
    <div class="row">
        <ul class="portfolio-area da-thumbs">
        {% for image in gallery %}
            <li class="portfolio-item2" data-id="id-0" data-type="ilustrator">
            <div class="span4">
              <div class="thumbnail">
                <div class="image-wrapp">
                  <img src="{{ image.image.url }}" alt="{{ image.gallery.name }}" title="" style="height: 250px; width: 350px; overflow: hidden;"/>
                  <article class="da-animate da-slideFromRight" style="display: block;">
                    <h4>{{ image.gallery.name }}</h4>
                    <span><a class="zoom" data-pretty="prettyPhoto" href="{{ image.image.url }}">
                        <i class="icon-rounded icon-48 icon-zoom-in"></i>
                        </a></span>
                  </article>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
    </ul>
    </div>
    <hr/>
    <p><a href="/gallery/{{ gallery.first.gallery.user_id }}" class="btn btn-primary btn-sm" title="Insert an image">Back</a>
    </p>
{% endblock %}