{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<h1>{{galleries.first.user}}'s Gallery</h1>
<a href="/gallery" class="btn btn-primary btn-sm">Back</a>
<hr/>
<div class="row">
    <ul class="portfolio-area da-thumbs">
        {% for gallery in galleries %}
        <li class="portfolio-item2" data-id="id-0" data-type="ilustrator">
            <div class="span4">
              <div class="thumbnail">
                <div class="image-wrapp">
                  <img src="{{ gallery.image_set.first.image.url }}" alt="{{ gallery.name }}" title="" />
                  <article class="da-animate da-slideFromRight" style="display: block;">
                    <h4>{{ gallery.name }}</h4>
                    <a href="{% url 'get' gallery.user_id gallery.id %}"><i class="icon-rounded icon-48 icon-link"></i></a>
                    <span><a class="zoom" data-pretty="prettyPhoto" href="{{ gallery.image_set.first.image.url }}">
                        <i class="icon-rounded icon-48 icon-zoom-in"></i>
                        </a></span>
                  </article>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}